.gamePageOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    overflow: auto;
}


.gamesInnerBox {
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: space-between;
}


.gamesTable {
    width: 60vw;
}

.infoImg {
    width: 200px;
    margin: 0 10vw ;
}

.voteBtn {
    width: 50px;
}