.teamList {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    width: 60vw;
}

.teams {
    height: 80vh;
    width: 20vw;
    overflow: auto;
}

.team {
    border-bottom: black solid 1px;
    width: 20vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.teamBox {
    width: 300px;
    display: flex;
}

.teamInfo {
    width: 40vw;
    height: 80vh;
    overflow: scroll;

}

.playerBox {
    display: flex;
    width: 40vw;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.player {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.team_img_small {
    height: 50px;
}

.team_img_large {
    height: 100px;
}

.playerImg {
    width: 180px;

    border-radius: 180px;
    background-color: gray;
}