.playerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playerImgDetail {
    width: 300px;
}

.even {
    background-color: #f4f4f4;
}

.playerPage {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerPageOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
}